@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', 'sans-serif';
    scroll-behavior: smooth;
}

:root{
    --bgOrange:#e84949;
}

#wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
}

.container{
    width:1200px;
    margin:0 auto;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo{
    width:80px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.logo-text{
    margin-left: -1.2rem;
    font-size:28px;
}

.nav-items{
    display: flex;
    gap:2rem;
    padding:0 4rem;
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
}

.nav-items div a{
    color:black;
}

a{
    text-decoration: none;
}

.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap:5rem;
    margin: 4rem auto;
    padding:0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);

    /* position: absolute; */
    bottom: -16%;
    left:-5%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color:#4e45d5;
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin-top:1rem;
    width:70%;
    font-weight:500;
}

.btn-pink{
    background-color: var(--bgOrange);
    padding:0.8rem 2.3rem;
    width:fit-content;
    color:white;
    font-size:18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.8s; 
}
.btn-pink::before{
    content:"";
    background-color: #fff;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    transform: scaleX(0);
    transform-origin:left;
    transition: all 0.8s;
    z-index: -1;
}
.btn-pink:hover{
    border: solid 3px var(--bgOrange);
    color: black;
}
.btn-pink:hover::before{
    transform: scaleX(1);
}

.hero-section-right{
    position:relative;
}

.absolute{
    position: absolute;
}